.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a{
  text-decoration: none;
}

.App-header {
  background-color: #007a80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-padding{
  padding-top: 65px;
  background-color: #1b7278;
}
.hero {
  display: flex;
  align-items: center;
  
  background-color: #f2f2f2;
}

.hero img {
  aspect-ratio: 1/1;
  height: auto;
  object-position: left;
  width: 100%;
}

.hero-text {
  
  padding: 0 50px;
  text-align: center;
  color: #fff;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-text button {
  display: inline-block;
  padding: 9px 30px;
  background-color: #232325;
  color: #fff;
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: none;
}

.hero-text button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}